#### Python course for AI/ML

In [ ]:
# type conversion
# implicit => Internally happen in python
# explicit => By the programmers

In [5]:
# implicit type conversions
print(type(5))

<class 'int'>

In [6]:
print(type(5.5))

<class 'float'>

In [ ]:
print(5+ int('4')) # explicit type conversions

9

In [10]:
number = "32"
number = float(number)

print(type(number))
print(number)

<class 'float'>
32.0

In [ ]:
a = 0b1010  # literals this is #Binary_Literals
print(a)

10

In [12]:
float_1 = 1.5
float_2 = 1.5e2     # its mean 1.5 * 10^2   => Answer : 150
float_3 = 1.5e-3

print('float_1: ', float_1)
print('float_2: ', float_2)
print('float_3: ', float_3)

float_1:  1.5
float_2:  150.0
float_3:  0.0015

In [17]:
# complex literals

x = 5+10j

print(type(x))

<class 'complex'>

In [21]:
print(x.real)
print(x.imag)

print(type(x.real))
print(type(x.imag))

print(x.real + x.imag)

5.0
10.0
<class 'float'>
<class 'float'>
15.0

In [ ]:
string = 'This is a python string'
strings = "This is a python string"
multiline_str = """
I am Programmer
I love to learning new things
"""
char = 'c'
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_string = r"raw \n string"   # raw line it will have type \ character

In [31]:
print(unicode)
print(string)
print(strings)
print(multiline_str)
print(char)
print(raw_string)

ðŸ˜€ðŸ˜†ðŸ¤£
This is a python string
This is a python string

I am Programmer
I love to learning new things

c
raw \n string

In [32]:
# True => 1
# False => 0

a = True + 4
b = False + 10

print('a: ', a)
print('b: ', b)

a:  5
b:  10

In [33]:
x = None
print(x)    # we need to create variable starter of the program use this

None

### #Arithmetic operator

In [35]:
print(4+5)
print(6-2)
print(6/2)
print(7//2)
print(6%2)
print(5**2)

9
4
3.0
3
0
25

### #Relational Operator

In [36]:
print(4>2)
print(5==2)
print(3!=5)

True
False
True

### #Logical Operator

In [37]:
print(1 and 1)
print(0 and 1)
print(0 and 0)

1
0
0

In [38]:
print(1 or 0)
print(0 or 0)

1
0

In [40]:
print(not 1)
print(not 0)

False
True

### #Bitwise Operator

In [41]:
#Bitwise and
print(3 & 6)    #firstly its convert binary number and solve this operator

#Bitwise or
print(4 | 2)

#Bitwise Xor
print(3 ^ 2)

#Bitwise not
print(~5)

#Bitwise right shift
print(4 >> 2)

#Bitwise left shift
print(5 << 2)

2
6
1
-6
1
20

### #Assignment operator

In [43]:
a = 2

a += 4  #like this all of the operators we can code
print(a)

6

- a++ (Its increase the number of 1) 
- ++a (Its firstly increase the number and execute)

### #Membership operator

In [47]:
# in / not in
print('M' in "Colombo")
print('C' in "Colombo")

print('M' not in "Colombo")
print('C' not in "Colombo")

print(1 in [1, 2, 3, 4, 5, 6])

False
True
True
False
True

### Exercise

- Find the sum of 3 digit number entered by the user

In [52]:
n1 = float(input('Insert a number-1\t: '))
n2 = float(input('Insert a number-2\t: '))
n3 = float(input('Insert a number-3\t: '))

sum = n1+n2+n3
print(f'Summation of the Numbers {n1, n2, n3}: ', sum)

Summation of the Numbers (3.0, 5.0, 9.0):  17.0

In [60]:
number = int(input('Insert a 3 digit numbers\t: '))

# 345%10 => 5
a = number%10
print(a)

number = number//10 # 345 // 10 => 34
b = number%10

number = number//10 # 34 // 10 => 3
c = number%10

result = a + b + c
print(f'Summation of the Numbers {c, b, a}: ', result)

5
Summation of the Numbers (3, 4, 5):  12

### Conditional Statement

In [63]:
# Login function demo using if else
act_email = "test@gmail.com"
act_password = 'test123'

insert_email = input('Enter Email Address: ')
insert_password = input("Enter Password: ")

if insert_email == act_email and insert_password == act_password:
    print('You are login successfully!')
else:
    print('Email or password is incorrect')

You are login successfully!

In [69]:
# Login function demo using if elif else
act_email = "test@gmail.com"
act_password = 'test123'

insert_email = input('Enter Email Address: ')
insert_password = input("Enter Password: ")

if insert_email == act_email and insert_password == act_password:
    print('You are login successfully!')
elif insert_email != act_email and insert_password == act_password:
    print('Your Email is Invalid!')
elif insert_password != act_password and insert_email == act_email:
    print('Your Password is Invalid')
else:
    print('Your Email and Password Invalid!')

You are login successfully!

In [73]:
# Login function demo using if elif else and nested if else
act_email = "test@gmail.com"
act_password = 'test123'

insert_email = input('Enter Email Address: ')
insert_password = input("Enter Password: ")

if insert_email and insert_password:
    if insert_email != act_email or insert_password != act_password:
        print('Invalid Credentials')
    else:
        print('You are login successfully!')
else:
    print('Email and Password required')

You are login successfully!

### Modules

- Builtin Module / Package => Inside python packages
- External Module / Package => we need to install and use packages

#### Builtin Module

- math
- keyword
- random
- datetime

In [2]:
import math

math.sqrt(24)

4.898979485566356

In [ ]:
math.factorial(56)

710998587804863451854045647463724949736497978881168458687447040000000000000

In [9]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
import random

print(random.randint(1, 100))

61

In [10]:
import datetime

print(datetime.datetime.now())

2025-07-09 07:49:12.786312

#### External Module (pip)

In [12]:
!pip install flask

Requirement already satisfied: flask in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (3.1.1)
Requirement already satisfied: blinker>=1.9.0 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (1.9.0)
Requirement already satisfied: click>=8.1.3 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (8.2.1)
Requirement already satisfied: itsdangerous>=2.2.0 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (3.0.2)
Requirement already satisfied: werkzeug>=3.1.0 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (3.1.3)

### Loops

- while Loop

In [2]:
count = 0

while count < 10:
    print("hello Python")
    count+=1
else:
    print("program executed")

hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
program executed

- for loop

In [3]:
for i in range(0, 10):
    print("hello python")

hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python

In [5]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

- Program : The current population of the town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program find out of the population at the end of each of the last 10 years

In [27]:
current_population = 10000

for i in range(10, 0, -1):  # if we go to reverse therefore, our range is range(10, 0, -1)
    print(f"Current Population : {current_population}")

    # current_population(future) = current_population(present) + current_population(present) * 0.1   
    # current_population(future) = current_population(present) (1 + 0.1)
    # current_population(future) = current_population(present) * 1.1
    # we have future population therefore we need to divide current_population(future) to 1.1

    current_population = current_population / 1.1

Current Population : 10000
Current Population : 9090.90909090909
Current Population : 8264.462809917353
Current Population : 7513.148009015775
Current Population : 6830.134553650703
Current Population : 6209.213230591548
Current Population : 5644.739300537771
Current Population : 5131.5811823070635
Current Population : 4665.07380209733
Current Population : 4240.976183724845

In [29]:
for i in range(1,5):
    for j in range(1, 5):
        print(i, j)
print("program executed")

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
program executed

### Exercise

In [42]:
row = int(input('Enter Row Number: '))

sum = 0
for i in range(1,row+1):
    for j in range(0, i):
        sum += 1
    print("*"*sum)
    sum = 0

*
**
***
****
*****
******

In [46]:
row = int(input('Enter Row Number: '))

sum = 0
for i in range(1,row+1):
    for j in range(1, i+1):
        print("*", end="")
    print("")

*
**
***
****
*****
******
*******
********

### Loop control statement

In [48]:
# Break

for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [49]:
for i in range (1, 6):
    for j in range(1, 6):
        if j == 3:
            break
        print(i, j)

1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2

In [57]:
lower = int(input("Enter Lower Range: "))
upper = int(input("Enter Upper Range: "))

for i in range(lower, upper+1):
    for j in range(2, i):
        # its need to divide by past numbers its module result != 0
        if i%j == 0:
            break
    else:
        print(i)

5
7
11
13
17
19
23

In [60]:
# continue

for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [61]:
# pass 

for i in range(1,10):
    pass

## Strings are sequence of characters

### In python specifically, strings are sequence of unicode characters

#### Topic to be discuss

- Creating String 
- Accessing Strings
- Adding Chars to Strings
- Editing Strings 
- Deleting Strings
- Operations on Strings
- Strings Functions

### Creating Strings

In [62]:
s = "hello"
s = 'hello'
# multiline strings
s = """hello"""
s = '''hello'''
s = str('hello')
print(s)

hello

In [63]:
"it's my car"

"it's my car"

### Accessing Strings

In [ ]:
#positive accessing
s = 'welcome to python'

In [68]:
print(s[2])
print(s[1:10])
print(len(s))

l
elcome to
17

In [69]:
# Negative accessing
s = "welcome to python"

In [72]:
print(s[16])
print(s[-1])

n
n

In [75]:
print(s[0:6])
# its extract not get 6 index char therefor we need to welcome print(s[0:7])

welcom

In [79]:
print(s[0:])
print(s[:12])
print(s[:])

welcome to python
welcome to p
welcome to python

In [77]:
print(s[::-1])

nohtyp ot emoclew

In [80]:
print(s[:3:-1])

nohtyp ot emo

In [83]:
print(s[2:12:2])
# jump parameters is jump 2 wise 2

loet

In [85]:
print(s[::-1])
print(s[::-2])

nohtyp ot emoclew
nhy teolw

In [86]:
print(s[-6:-1])

pytho

In [88]:
print(s[-6:])

python

In [93]:
print(s[:])
print(s[-1:-7:-1])

welcome to python
nohtyp

### Adding Chars to Strings

In [94]:
s = "welcome to python"

In [95]:
# Strings are immutable (can not edit)

### Delete Strings

In [99]:
s = "welcome to python"
del s
# we can not delete characters but we can delete entire string

In [98]:
print(s)

NameError: name 's' is not defined

### Operations on Strings

- Arithmetic operations 
- Relational operations 
- Logical operations
- Loops on strings
- Membership operations

### Arithmetic operations

In [101]:
print("Hi" + "Everyone")
print("Hi" + " " + "Everyone")

HiEveryone
Hi Everyone

In [102]:
print("Hi" * 5)

HiHiHiHiHi

In [103]:
print("*" * 100)

****************************************************************************************************

### Relational operations

In [104]:
print("hello" == "hello")
print("hello" != "world")
print("hello" > "hi")
print("hello" > "world")
print("hello" >= "hello")

True
True
False
False
True

### Logical operations

- " " => empty strings always False 
- "hello" => always True

In [3]:
"hello" and "world" # always get second one its if true

'world'

In [4]:
"hello" or "wold"   # always get first one if its true

'hello'

In [ ]:
not "hello"

True

In [7]:
not ""

True

### Loops operations

In [1]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [2]:
for i in "python":
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

### Membership operations

In [3]:
"p" in "python"

True

In [4]:
"p" not in "python"

False

### Strings Functions / Methods

- len
- min
- max
- sorted

In [5]:
s = "welcome to python"

In [6]:
print(len(s))

17

In [7]:
print(max(s))

y

In [8]:
print(min(s))

In [ ]:
print(sorted(s))

[' ', ' ', 'c', 'e', 'e', 'h', 'l', 'm', 'n', 'o', 'o', 'o', 'p', 't', 't', 'w', 'y']

In [10]:
print(sorted(s, reverse=True))

['y', 'w', 't', 't', 'p', 'o', 'o', 'o', 'n', 'm', 'l', 'h', 'e', 'e', 'c', ' ', ' ']

- capitalize
- Title
- Upper 
- Lower
- Swapcase

In [11]:
s = "welcome to python"

In [13]:
s.capitalize()  # its not a original one edit its edit copy of the string

'Welcome to python'

In [14]:
s.title()

'Welcome To Python'

In [15]:
s.upper()

'WELCOME TO PYTHON'

In [16]:
s.lower()

'welcome to python'

In [18]:
x = "weLcMe to pYthon"
x.swapcase()

'WElCmE TO PyTHON'

- count
- find
- index

In [19]:
s.count("p")

1

In [ ]:
s.find("p") # give index number

11

In [22]:
s.index('s')

ValueError: substring not found

In [25]:
s.index('p')

11

In [26]:
s.find("a")

-1

- find is return -1 is have'nt this element in sentence but index is throw error

In [27]:
s.endswith("py")

False

In [28]:
s.endswith("on")

True

In [29]:
s.startswith("we")

True

In [30]:
name = "John"
gender = "Male"

s = "My name is {}, and I am a {}"

In [31]:
s.format(name, gender)

'My name is John, and I am a Male'

In [32]:
name = str(input("Enter Your Name: "))
greeting = "Hello {},  Welcome to Facebook"

print(greeting.format(name))

Hello Prashan Kulathunga,  Welcome to Facebook

In [33]:
name = "John"
gender = "Male"

s = "My name is {}, I am a {}"

print(s.format(gender, name))

My name is Male, I am a John

In [34]:
name = "John"
gender = "Male"

s = "My name is {1}, I am a {0}"

print(s.format(gender, name))   # then gender is 0 th index and name is 1 th index

My name is John, I am a Male

- isalnum
- isalpha
- isdigit
- isidentifier

In [39]:
s = "python123"

In [40]:
s.isalnum()

True

In [45]:
s = "john"

In [46]:
s.isalpha()

True

In [49]:
s = "1234"

In [50]:
s.isdigit()

True

In [51]:
s = "name_age"
s.isidentifier()

True

- split
- join

In [55]:
s = "My name is John"

In [57]:
s.split()

['My', 'name', 'is', 'John']

In [59]:
word = ['My', 'name', 'is', 'John']
s = ""
s.join(word)

'MynameisJohn'

In [60]:
word = ['My', 'name', 'is', 'John']
s = " "
s.join(word)

'My name is John'

- replace
- strip

In [66]:
s = "my name is john    "
s.replace("john", "Alex")

'my name is Alex    '

In [67]:
len(s)

19

In [ ]:
s = s.strip()   # remove additional spaces

In [71]:
len(s)

15

### f-String

In [72]:
name = "John"
gender = "Male"

print(f"Hello I am {name}, I am a {gender}")

Hello I am John, I am a Male

1. Find a length of a given string without len function
2. Extract username from the given Email address

- Ex:
    if the email is john@gmail.com then username should be john

3. write a program that can check whether the given string is palindrome or not
- abba
- malayalam
- mama

In [73]:
count = 0
given_st = str(input("Enter a string"))

for i in given_st:
    count += 1
print("length of the string: ", count)

length of the string:  30

In [76]:
email = input("Enter Your Email Address: ")

username = email.split("@")
username = username[0]
print(username)

prashan

In [104]:
word = input("Enter a word check for palindrome: ")
rv_word = word[::-1]

if word == rv_word:
    print("This Word is Palindrome")
else:
    print("This Word not Palindrome")

This Word is Palindrome

In [103]:
word = input("Enter a string word: ")
flag = True

for i in range(0, len(word)//2):
    if word[i] != word[len(word) - i -1]:
        flag = False
        print("Not a Palindrome")
        break
if flag:
    print("Palindrome")

Palindrome

In [107]:
s = "abba"
len(s) // 2

2

In [ ]:
test = "hello python"
test[len(test) -0 -1]   # we get last character

'o'

### List in Python

- What are Lists?
- Lists vs Array
- Characteristic of Lists
- How to crate Lists
- Access items from the Lists
- Editing items in a Lists
- Deleting item from the Lists
- Operations on Lists
- Functions on Lists
- List comprehension

1. Array
    - Fixed size
    - Homogeneous (data type)
    - speed of execution fast
    - Less memory

2. List
    - Dynamic size
    - Hetnogeneous
    - speed of execution slow
    - More memory

In [118]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))

4839350464
4368252560
4368252592
4368252624

In [121]:
print(id(L[0]) == id(1))
print(id(L[1]) == id(2))
print(id(L[2]) == id(3))

True
True
True

### Characterstics of a List

- Ordered 
- Changeble / Mutable
- Hetrogeneous
- can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

In [122]:
L1 = [1,2,3,4]
L2 = [4,3,2,1]

print(L1 == L2)

False

In [123]:
L1 = [1,2,4,6]

In [125]:
print(L1)
print(L1[0])

[1, 2, 4, 6]
1

### Creating a List

In [126]:
# Empty
print([])
# 1D
print([1,2,3,4,5])
# 2D
print([1,2,3, [4,5]])
# 3D
print([[[1,2], [3,4]], [[5,6], [7,8]]])
# Hetrogenous
print([1, True, 5.6, 4+5j, "hello"])
# using type conversions
print(list("hello"))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (4+5j), 'hello']
['h', 'e', 'l', 'l', 'o']

### Accessing Items from List

- indexing
- slicing

In [127]:
l = [1,2,3,4,5]

In [129]:
print(l[0])
print(l[-1])

1
5

In [130]:
l2 = [1,2,3, [4,5]]

In [131]:
l2[3]

[4, 5]

In [133]:
l2[3][1]

5

In [134]:
l3 = [[[1,2], [3,4]], [[5,6], [7,8]]]

In [136]:
len(l3) # how many list in the 3d list

2

In [137]:
l3[0]

[[1, 2], [3, 4]]

In [138]:
l3[0][1][1]

4

In [139]:
l = [1,2,3,4,5]

In [140]:
l[1:4]

[2, 3, 4]

In [141]:
l[::-1]

[5, 4, 3, 2, 1]

In [142]:
l[:3:2]

[1, 3]

### Lists Methods/Functions in Python

- append - Last position of the list append

In [143]:
L = [1,2,3,4]
print(L)

[1, 2, 3, 4]

In [146]:
L.append(5)

In [147]:
print(L)

[1, 2, 3, 4, 5, 5, 5]

In [148]:
L[4], L[5], L[6] = 5, 6, 7

In [149]:
print(L)

[1, 2, 3, 4, 5, 6, 7]

- Editing with slicing

In [150]:
L = [1,2,3,4]
L[1:4] = [200,300,400]
print(L)

[1, 200, 300, 400]

In [151]:
L = [1,2,3,4]

In [152]:
L.append([5,6,7])

In [153]:
print(L)

[1, 2, 3, 4, [5, 6, 7]]

In [154]:
L.append(True)

In [155]:
print(L)

[1, 2, 3, 4, [5, 6, 7], True]

- extend - one specific item add last positions

In [156]:
L = [1,2,3,4]
a = [11,12,13]

L.extend(a)

In [157]:
print(L)

[1, 2, 3, 4, 11, 12, 13]

In [158]:
L.extend("Hello")

In [159]:
print(L)

[1, 2, 3, 4, 11, 12, 13, 'H', 'e', 'l', 'l', 'o']

- insert - add specific index number add

In [160]:
L = [1,2,3,4]
L.insert(1, 200)
print(L)

[1, 200, 2, 3, 4]

- Deleting Items from Lists

In [161]:
L = [1,2,3,4]

del L[0]
print(L)

[2, 3, 4]

In [162]:
del L[1:3]

In [163]:
print(L)

[2]

- remove - give to the value

In [164]:
L = [1,2,3,4,5]

L.remove(4)
print(L)

[1, 2, 3, 5]

- pop - remove last positions item

In [165]:
L = [1,2,3,4,5]

L.pop()
print(L)

[1, 2, 3, 4]

- clear - clear list values

In [166]:
L = [1,2,3,4,5]
L.clear()
print(L)

[]

- len
- min
- max 
- sorted

In [167]:
L = [1,2,3,4,5]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L, reverse=True))

5
1
5
[5, 4, 3, 2, 1]

- count - How many times is coming up this value

In [168]:
L = [1,2,3,4,5,5,5,6]

print(L.count(5))

3

- index

In [169]:
L = [1,2,3,4,4,4,5,5]

L.index(2)

1

In [172]:
L.index(2)

1

- reverse

In [173]:
L = [1,2,3,4,5]

L.reverse()
print(L)

[5, 4, 3, 2, 1]

- sort

In [174]:
L = [1,2,65,23,13]

L.sort()
print(L)

[1, 2, 13, 23, 65]

- copy

In [175]:
L = [1,2,3,4,5]

L1 = L.copy()

print(L1)

[1, 2, 3, 4, 5]

In [176]:
L.append(5)

In [177]:
print(L)
print(L1)

[1, 2, 3, 4, 5, 5]
[1, 2, 3, 4, 5]