#### Python course for AI/ML

In [1]:
# type conversion
# implicit => Internally happen in python
# explicit => By the programmers

In [2]:
# implicit type conversions
print(type(5))

<class 'int'>

In [3]:
print(type(5.5))

<class 'float'>

In [4]:
print(5+ int('4')) # explicit type conversions

9

In [5]:
number = "32"
number = float(number)

print(type(number))
print(number)

<class 'float'>
32.0

In [6]:
a = 0b1010  # literals this is #Binary_Literals
print(a)

10

In [7]:
float_1 = 1.5
float_2 = 1.5e2     # its mean 1.5 * 10^2   => Answer : 150
float_3 = 1.5e-3

print('float_1: ', float_1)
print('float_2: ', float_2)
print('float_3: ', float_3)

float_1:  1.5
float_2:  150.0
float_3:  0.0015

In [8]:
# complex literals

x = 5+10j

print(type(x))

<class 'complex'>

In [9]:
print(x.real)
print(x.imag)

print(type(x.real))
print(type(x.imag))

print(x.real + x.imag)

5.0
10.0
<class 'float'>
<class 'float'>
15.0

In [10]:
string = 'This is a python string'
strings = "This is a python string"
multiline_str = """
I am Programmer
I love to learning new things
"""
char = 'c'
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_string = r"raw \n string"   # raw line it will have type \ character

In [11]:
print(unicode)
print(string)
print(strings)
print(multiline_str)
print(char)
print(raw_string)

ðŸ˜€ðŸ˜†ðŸ¤£
This is a python string
This is a python string

I am Programmer
I love to learning new things

c
raw \n string

In [12]:
# True => 1
# False => 0

a = True + 4
b = False + 10

print('a: ', a)
print('b: ', b)

a:  5
b:  10

In [13]:
x = None
print(x)    # we need to create variable starter of the program use this

None

### #Arithmetic operator

In [14]:
print(4+5)
print(6-2)
print(6/2)
print(7//2)
print(6%2)
print(5**2)

9
4
3.0
3
0
25

### #Relational Operator

In [15]:
print(4>2)
print(5==2)
print(3!=5)

True
False
True

### #Logical Operator

In [16]:
print(1 and 1)
print(0 and 1)
print(0 and 0)

1
0
0

In [17]:
print(1 or 0)
print(0 or 0)

1
0

In [18]:
print(not 1)
print(not 0)

False
True

### #Bitwise Operator

In [19]:
#Bitwise and
print(3 & 6)    #firstly its convert binary number and solve this operator

#Bitwise or
print(4 | 2)

#Bitwise Xor
print(3 ^ 2)

#Bitwise not
print(~5)

#Bitwise right shift
print(4 >> 2)

#Bitwise left shift
print(5 << 2)

2
6
1
-6
1
20

### #Assignment operator

In [20]:
a = 2

a += 4  #like this all of the operators we can code
print(a)

6

- a++ (Its increase the number of 1) 
- ++a (Its firstly increase the number and execute)

### #Membership operator

In [21]:
# in / not in
print('M' in "Colombo")
print('C' in "Colombo")

print('M' not in "Colombo")
print('C' not in "Colombo")

print(1 in [1, 2, 3, 4, 5, 6])

False
True
True
False
True

### Exercise

- Find the sum of 3 digit number entered by the user

In [22]:
n1 = float(input('Insert a number-1\t: '))
n2 = float(input('Insert a number-2\t: '))
n3 = float(input('Insert a number-3\t: '))

sum = n1+n2+n3
print(f'Summation of the Numbers {n1, n2, n3}: ', sum)

ValueError: could not convert string to float: ''

In [23]:
number = int(input('Insert a 3 digit numbers\t: '))

# 345%10 => 5
a = number%10
print(a)

number = number//10 # 345 // 10 => 34
b = number%10

number = number//10 # 34 // 10 => 3
c = number%10

result = a + b + c
print(f'Summation of the Numbers {c, b, a}: ', result)

2
Summation of the Numbers (0, 0, 2):  2

### Conditional Statement

In [ ]:
# Login function demo using if else
act_email = "test@gmail.com"
act_password = 'test123'

insert_email = input('Enter Email Address: ')
insert_password = input("Enter Password: ")

if insert_email == act_email and insert_password == act_password:
    print('You are login successfully!')
else:
    print('Email or password is incorrect')

You are login successfully!

In [ ]:
# Login function demo using if elif else
act_email = "test@gmail.com"
act_password = 'test123'

insert_email = input('Enter Email Address: ')
insert_password = input("Enter Password: ")

if insert_email == act_email and insert_password == act_password:
    print('You are login successfully!')
elif insert_email != act_email and insert_password == act_password:
    print('Your Email is Invalid!')
elif insert_password != act_password and insert_email == act_email:
    print('Your Password is Invalid')
else:
    print('Your Email and Password Invalid!')

You are login successfully!

In [ ]:
# Login function demo using if elif else and nested if else
act_email = "test@gmail.com"
act_password = 'test123'

insert_email = input('Enter Email Address: ')
insert_password = input("Enter Password: ")

if insert_email and insert_password:
    if insert_email != act_email or insert_password != act_password:
        print('Invalid Credentials')
    else:
        print('You are login successfully!')
else:
    print('Email and Password required')

You are login successfully!

### Modules

- Builtin Module / Package => Inside python packages
- External Module / Package => we need to install and use packages

#### Builtin Module

- math
- keyword
- random
- datetime

In [ ]:
import math

math.sqrt(24)

4.898979485566356

In [ ]:
math.factorial(56)

710998587804863451854045647463724949736497978881168458687447040000000000000

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
import random

print(random.randint(1, 100))

61

In [ ]:
import datetime

print(datetime.datetime.now())

2025-07-09 07:49:12.786312

#### External Module (pip)

In [ ]:
!pip install flask

Requirement already satisfied: flask in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (3.1.1)
Requirement already satisfied: blinker>=1.9.0 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (1.9.0)
Requirement already satisfied: click>=8.1.3 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (8.2.1)
Requirement already satisfied: itsdangerous>=2.2.0 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (3.0.2)
Requirement already satisfied: werkzeug>=3.1.0 in /Users/prashankulathunga/miniforge3/envs/tensorflow/lib/python3.11/site-packages (from flask) (3.1.3)

### Loops

- while Loop

In [ ]:
count = 0

while count < 10:
    print("hello Python")
    count+=1
else:
    print("program executed")

hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
hello Python
program executed

- for loop

In [ ]:
for i in range(0, 10):
    print("hello python")

hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python

In [ ]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

- Program : The current population of the town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program find out of the population at the end of each of the last 10 years

In [ ]:
current_population = 10000

for i in range(10, 0, -1):  # if we go to reverse therefore, our range is range(10, 0, -1)
    print(f"Current Population : {current_population}")

    # current_population(future) = current_population(present) + current_population(present) * 0.1
    # current_population(future) = current_population(present) (1 + 0.1)
    # current_population(future) = current_population(present) * 1.1
    # we have future population therefore we need to divide current_population(future) to 1.1

    current_population = current_population / 1.1

Current Population : 10000
Current Population : 9090.90909090909
Current Population : 8264.462809917353
Current Population : 7513.148009015775
Current Population : 6830.134553650703
Current Population : 6209.213230591548
Current Population : 5644.739300537771
Current Population : 5131.5811823070635
Current Population : 4665.07380209733
Current Population : 4240.976183724845

In [ ]:
for i in range(1,5):
    for j in range(1, 5):
        print(i, j)
print("program executed")

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
program executed

### Exercise

In [ ]:
row = int(input('Enter Row Number: '))

sum = 0
for i in range(1,row+1):
    for j in range(0, i):
        sum += 1
    print("*"*sum)
    sum = 0

*
**
***
****
*****
******

In [ ]:
row = int(input('Enter Row Number: '))

sum = 0
for i in range(1,row+1):
    for j in range(1, i+1):
        print("*", end="")
    print("")

*
**
***
****
*****
******
*******
********

### Loop control statement

In [ ]:
# Break

for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
for i in range (1, 6):
    for j in range(1, 6):
        if j == 3:
            break
        print(i, j)

1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
5 1
5 2

In [ ]:
lower = int(input("Enter Lower Range: "))
upper = int(input("Enter Upper Range: "))

for i in range(lower, upper+1):
    for j in range(2, i):
        # its need to divide by past numbers its module result != 0
        if i%j == 0:
            break
    else:
        print(i)

5
7
11
13
17
19
23

In [ ]:
# continue

for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [ ]:
# pass

for i in range(1,10):
    pass

## Strings are sequence of characters

### In python specifically, strings are sequence of unicode characters

#### Topic to be discuss

- Creating String 
- Accessing Strings
- Adding Chars to Strings
- Editing Strings 
- Deleting Strings
- Operations on Strings
- Strings Functions

### Creating Strings

In [ ]:
s = "hello"
s = 'hello'
# multiline strings
s = """hello"""
s = '''hello'''
s = str('hello')
print(s)

hello

In [ ]:
"it's my car"

"it's my car"

### Accessing Strings

In [ ]:
#positive accessing
s = 'welcome to python'

In [ ]:
print(s[2])
print(s[1:10])
print(len(s))

l
elcome to
17

In [ ]:
# Negative accessing
s = "welcome to python"

In [ ]:
print(s[16])
print(s[-1])

n
n

In [ ]:
print(s[0:6])
# its extract not get 6 index char therefor we need to welcome print(s[0:7])

welcom

In [ ]:
print(s[0:])
print(s[:12])
print(s[:])

welcome to python
welcome to p
welcome to python

In [ ]:
print(s[::-1])

nohtyp ot emoclew

In [ ]:
print(s[:3:-1])

nohtyp ot emo

In [ ]:
print(s[2:12:2])
# jump parameters is jump 2 wise 2

loet

In [ ]:
print(s[::-1])
print(s[::-2])

nohtyp ot emoclew
nhy teolw

In [ ]:
print(s[-6:-1])

pytho

In [ ]:
print(s[-6:])

python

In [ ]:
print(s[:])
print(s[-1:-7:-1])

welcome to python
nohtyp

### Adding Chars to Strings

In [ ]:
s = "welcome to python"

In [ ]:
# Strings are immutable (can not edit)

### Delete Strings

In [ ]:
s = "welcome to python"
del s
# we can not delete characters but we can delete entire string

In [ ]:
print(s)

NameError: name 's' is not defined

### Operations on Strings

- Arithmetic operations 
- Relational operations 
- Logical operations
- Loops on strings
- Membership operations

### Arithmetic operations

In [ ]:
print("Hi" + "Everyone")
print("Hi" + " " + "Everyone")

HiEveryone
Hi Everyone

In [ ]:
print("Hi" * 5)

HiHiHiHiHi

In [ ]:
print("*" * 100)

****************************************************************************************************

### Relational operations

In [ ]:
print("hello" == "hello")
print("hello" != "world")
print("hello" > "hi")
print("hello" > "world")
print("hello" >= "hello")

True
True
False
False
True

### Logical operations

- " " => empty strings always False 
- "hello" => always True

In [ ]:
"hello" and "world" # always get second one its if true

'world'

In [ ]:
"hello" or "wold"   # always get first one if its true

'hello'

In [ ]:
not "hello"

True

In [ ]:
not ""

True

### Loops operations

In [ ]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [ ]:
for i in "python":
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

### Membership operations

In [ ]:
"p" in "python"

True

In [ ]:
"p" not in "python"

False

### Strings Functions / Methods

- len
- min
- max
- sorted

In [ ]:
s = "welcome to python"

In [ ]:
print(len(s))

17

In [ ]:
print(max(s))

y

In [ ]:
print(min(s))

In [ ]:
print(sorted(s))

[' ', ' ', 'c', 'e', 'e', 'h', 'l', 'm', 'n', 'o', 'o', 'o', 'p', 't', 't', 'w', 'y']

In [ ]:
print(sorted(s, reverse=True))

['y', 'w', 't', 't', 'p', 'o', 'o', 'o', 'n', 'm', 'l', 'h', 'e', 'e', 'c', ' ', ' ']

- capitalize
- Title
- Upper 
- Lower
- Swapcase

In [ ]:
s = "welcome to python"

In [ ]:
s.capitalize()  # its not a original one edit its edit copy of the string

'Welcome to python'

In [ ]:
s.title()

'Welcome To Python'

In [ ]:
s.upper()

'WELCOME TO PYTHON'

In [ ]:
s.lower()

'welcome to python'

In [ ]:
x = "weLcMe to pYthon"
x.swapcase()

'WElCmE TO PyTHON'

- count
- find
- index

In [ ]:
s.count("p")

1

In [ ]:
s.find("p") # give index number

11

In [ ]:
s.index('s')

ValueError: substring not found

In [ ]:
s.index('p')

11

In [ ]:
s.find("a")

-1

- find is return -1 is have'nt this element in sentence but index is throw error

In [ ]:
s.endswith("py")

False

In [ ]:
s.endswith("on")

True

In [ ]:
s.startswith("we")

True

In [ ]:
name = "John"
gender = "Male"

s = "My name is {}, and I am a {}"

In [ ]:
s.format(name, gender)

'My name is John, and I am a Male'

In [ ]:
name = str(input("Enter Your Name: "))
greeting = "Hello {},  Welcome to Facebook"

print(greeting.format(name))

Hello Prashan Kulathunga,  Welcome to Facebook

In [ ]:
name = "John"
gender = "Male"

s = "My name is {}, I am a {}"

print(s.format(gender, name))

My name is Male, I am a John

In [ ]:
name = "John"
gender = "Male"

s = "My name is {1}, I am a {0}"

print(s.format(gender, name))   # then gender is 0 th index and name is 1 th index

My name is John, I am a Male

- isalnum
- isalpha
- isdigit
- isidentifier

In [ ]:
s = "python123"

In [ ]:
s.isalnum()

True

In [ ]:
s = "john"

In [ ]:
s.isalpha()

True

In [ ]:
s = "1234"

In [ ]:
s.isdigit()

True

In [ ]:
s = "name_age"
s.isidentifier()

True

- split
- join

In [ ]:
s = "My name is John"

In [ ]:
s.split()

['My', 'name', 'is', 'John']

In [ ]:
word = ['My', 'name', 'is', 'John']
s = ""
s.join(word)

'MynameisJohn'

In [ ]:
word = ['My', 'name', 'is', 'John']
s = " "
s.join(word)

'My name is John'

- replace
- strip

In [ ]:
s = "my name is john    "
s.replace("john", "Alex")

'my name is Alex    '

In [ ]:
len(s)

19

In [ ]:
s = s.strip()   # remove additional spaces

In [ ]:
len(s)

15

### f-String

In [ ]:
name = "John"
gender = "Male"

print(f"Hello I am {name}, I am a {gender}")

Hello I am John, I am a Male

1. Find a length of a given string without len function
2. Extract username from the given Email address

- Ex:
    if the email is john@gmail.com then username should be john

3. write a program that can check whether the given string is palindrome or not
- abba
- malayalam
- mama

In [ ]:
count = 0
given_st = str(input("Enter a string"))

for i in given_st:
    count += 1
print("length of the string: ", count)

length of the string:  30

In [ ]:
email = input("Enter Your Email Address: ")

username = email.split("@")
username = username[0]
print(username)

prashan

In [ ]:
word = input("Enter a word check for palindrome: ")
rv_word = word[::-1]

if word == rv_word:
    print("This Word is Palindrome")
else:
    print("This Word not Palindrome")

This Word is Palindrome

In [ ]:
word = input("Enter a string word: ")
flag = True

for i in range(0, len(word)//2):
    if word[i] != word[len(word) - i -1]:
        flag = False
        print("Not a Palindrome")
        break
if flag:
    print("Palindrome")

Palindrome

In [ ]:
s = "abba"
len(s) // 2

2

In [ ]:
test = "hello python"
test[len(test) -0 -1]   # we get last character

'o'

### List in Python

- What are Lists?
- Lists vs Array
- Characteristic of Lists
- How to crate Lists
- Access items from the Lists
- Editing items in a Lists
- Deleting item from the Lists
- Operations on Lists
- Functions on Lists
- List comprehension

1. Array
    - Fixed size
    - Homogeneous (data type)
    - speed of execution fast
    - Less memory

2. List
    - Dynamic size
    - Hetnogeneous
    - speed of execution slow
    - More memory

In [ ]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))

4839350464
4368252560
4368252592
4368252624

In [ ]:
print(id(L[0]) == id(1))
print(id(L[1]) == id(2))
print(id(L[2]) == id(3))

True
True
True

### Characterstics of a List

- Ordered 
- Changeble / Mutable
- Hetrogeneous
- can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

In [ ]:
L1 = [1,2,3,4]
L2 = [4,3,2,1]

print(L1 == L2)

False

In [ ]:
L1 = [1,2,4,6]

In [ ]:
print(L1)
print(L1[0])

[1, 2, 4, 6]
1

### Creating a List

In [ ]:
# Empty
print([])
# 1D
print([1,2,3,4,5])
# 2D
print([1,2,3, [4,5]])
# 3D
print([[[1,2], [3,4]], [[5,6], [7,8]]])
# Hetrogenous
print([1, True, 5.6, 4+5j, "hello"])
# using type conversions
print(list("hello"))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (4+5j), 'hello']
['h', 'e', 'l', 'l', 'o']

### Accessing Items from List

- indexing
- slicing

In [ ]:
l = [1,2,3,4,5]

In [ ]:
print(l[0])
print(l[-1])

1
5

In [ ]:
l2 = [1,2,3, [4,5]]

In [ ]:
l2[3]

[4, 5]

In [ ]:
l2[3][1]

5

In [ ]:
l3 = [[[1,2], [3,4]], [[5,6], [7,8]]]

In [ ]:
len(l3) # how many list in the 3d list

2

In [ ]:
l3[0]

[[1, 2], [3, 4]]

In [ ]:
l3[0][1][1]

4

In [ ]:
l = [1,2,3,4,5]

In [ ]:
l[1:4]

[2, 3, 4]

In [ ]:
l[::-1]

[5, 4, 3, 2, 1]

In [ ]:
l[:3:2]

[1, 3]

### Lists Methods/Functions in Python

- append - Last position of the list append

In [ ]:
L = [1,2,3,4]
print(L)

[1, 2, 3, 4]

In [ ]:
L.append(5)

In [ ]:
print(L)

[1, 2, 3, 4, 5, 5, 5]

In [ ]:
L[4], L[5], L[6] = 5, 6, 7

In [ ]:
print(L)

[1, 2, 3, 4, 5, 6, 7]

- Editing with slicing

In [ ]:
L = [1,2,3,4]
L[1:4] = [200,300,400]
print(L)

[1, 200, 300, 400]

In [ ]:
L = [1,2,3,4]

In [ ]:
L.append([5,6,7])

In [ ]:
print(L)

[1, 2, 3, 4, [5, 6, 7]]

In [ ]:
L.append(True)

In [ ]:
print(L)

[1, 2, 3, 4, [5, 6, 7], True]

- extend - one specific item add last positions

In [ ]:
L = [1,2,3,4]
a = [11,12,13]

L.extend(a)

In [ ]:
print(L)

[1, 2, 3, 4, 11, 12, 13]

In [ ]:
L.extend("Hello")

In [ ]:
print(L)

[1, 2, 3, 4, 11, 12, 13, 'H', 'e', 'l', 'l', 'o']

- insert - add specific index number add

In [ ]:
L = [1,2,3,4]
L.insert(1, 200)
print(L)

[1, 200, 2, 3, 4]

- Deleting Items from Lists

In [ ]:
L = [1,2,3,4]

del L[0]
print(L)

[2, 3, 4]

In [ ]:
del L[1:3]

In [ ]:
print(L)

[2]

- remove - give to the value

In [ ]:
L = [1,2,3,4,5]

L.remove(4)
print(L)

[1, 2, 3, 5]

- pop - remove last positions item

In [ ]:
L = [1,2,3,4,5]

L.pop()
print(L)

[1, 2, 3, 4]

- clear - clear list values

In [ ]:
L = [1,2,3,4,5]
L.clear()
print(L)

[]

- len
- min
- max 
- sorted

In [ ]:
L = [1,2,3,4,5]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L, reverse=True))

5
1
5
[5, 4, 3, 2, 1]

- count - How many times is coming up this value

In [ ]:
L = [1,2,3,4,5,5,5,6]

print(L.count(5))

3

- index

In [ ]:
L = [1,2,3,4,4,4,5,5]

L.index(2)

1

In [ ]:
L.index(2)

1

- reverse

In [ ]:
L = [1,2,3,4,5]

L.reverse()
print(L)

[5, 4, 3, 2, 1]

- sort

In [ ]:
L = [1,2,65,23,13]

L.sort()
print(L)

[1, 2, 13, 23, 65]

- copy

In [ ]:
L = [1,2,3,4,5]

L1 = L.copy()

print(L1)

[1, 2, 3, 4, 5]

In [ ]:
L.append(5)

In [ ]:
print(L)
print(L1)

[1, 2, 3, 4, 5, 5]
[1, 2, 3, 4, 5]

### Lists Operations in Python

- Arithmetic operations
- Membership operations
- Loop operations

In [ ]:
L1 = [1,2,3,4,5]
L2 = [5,6,7,8,9,10]

In [ ]:
L1 + L2

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

In [ ]:
L1 *3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
L1 * L2

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
print(40 in L1)

False

In [ ]:
print(40 not in L1)

True

In [ ]:
for i in L1:
    print(i)

1
2
3
4
5

### Lists Comprehensions

1. Lists Comprehensions provides a way of creating lists
  
    newlist = [expression for item in iterable if condition == True]

2. Advantage of List Comprehension 
- More time efficient and  space efficient than loops
- Require fewer lines of codes
- Transform iterative statements in to a formula

In [ ]:
# TODO: 1 to 10 numbers append the list

L = []

for i in range(1,11):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Using List Comprehensive

L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# TODO: Scaler multiplication on a vector

v = [1,2,3]
s = -3
L = []

for i in v:
    result = i * s
    L.append(result)
print(L)

[-3, -6, -9]

In [ ]:
L = [i*s for i in v]
print(L)

[-3, -6, -9]

In [ ]:
# TODO: Add squares

L = [1,2,3,4]

LC = [i**2 for i in L]
print(LC)

[1, 4, 9, 16]

In [ ]:
# TODO: print all numbers divisible by 5 in the range of 1 to 50

L = []

for i in range(1, 51):
    if i%5 == 0:
     L.append(i)
print(L)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
L = [i for i in range(1,51) if i%5 == 0]
print(L)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# TODO: Find languages which start with letter p

languages = ['java', 'python', 'php', 'c', 'javascript']

L = [i for i in languages if i.startswith("p")]
print(L)

['python', 'php']

### Zip Functions

The zip() function return a zip object, which is an iterator of tuple where the first item in each passed iterator is paired together, and then the second item in each pass iterator are paired together.

if rhe passed iterators have different lengths, the iterator with the last items decide the length of the new iterator.

In [ ]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [ ]:
zip(L1, L2)

In [ ]:
# we need to convert it to list
list(zip(L1, L2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [ ]:
[j-i for i,j in zip(L1, L2)]

[4, 4, 4, 4]

In [ ]:
L1 = [1,2,3,4]
L2 = [5,6,7,8]
L3 = [11,12,13]

list(zip(L1, L2, L3))

# NOTE: Its only get mach numbers only

[(1, 5, 11), (2, 6, 12), (3, 7, 13)]

In [ ]:
# NOTE: This is a iterable object

for i in zip(L1, L2):
    print(i)

(1, 5)
(2, 6)
(3, 7)
(4, 8)

### Exercise:

1. Update no of items available

In [ ]:
cars_name = ['Audi', 'BMW', 'TATA', 'Volvo']
no_of_cars = [10, 20, 30, 5]

list(zip(cars_name, no_of_cars))

[('Audi', 10), ('BMW', 20), ('TATA', 30), ('Volvo', 5)]

In [ ]:
for i,j in zip(cars_name, no_of_cars):
    print('{} = {} nb of cars'.format(i,j))

Audi = 10 nb of cars
BMW = 20 nb of cars
TATA = 30 nb of cars
Volvo = 5 nb of cars

In [ ]:
L = ["{} = {}".format(i, j) for i, j in zip(cars_name, no_of_cars)]
print(L)

['Audi = 10', 'BMW = 20', 'TATA = 30', 'Volvo = 5']

2. You are given a list of integer. You are ask to make a list by running through elements of the list by adding all elements greater and itself.

In [ ]:
L = [2,4,6,10,1]

In [ ]:
sum_lst = []

for i in L:
    sum = 0
    for j in L:
        if i <= j:
            sum += j
    sum_lst.append(sum)
print(sum_lst)

[22, 20, 16, 10, 23]

3. Find list of common unique items from two list and show in increasing order.

In [ ]:
num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]

# NOTE: need to find unique number and sort this list

L = []

num1.extend(num2)

for i in num1:
    count = 0
    for j in num1:
        if i == j:
            count+=1
    if count <= 1:
        L.append(i)
L.sort()
print(L)

[23, 39, 45, 55, 56, 78]

In [ ]:
# NOTE: need to find common number and sort this list

num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]

L = []

for i in num1:
    if i in num2:
        if i not in L:
            L.append(i)
L.sort()
print(L)

[34, 67, 89]

### Tuples in pythons

A tuple in Python is similar to the list. The different between two is that we can not change the elements of a tuple ones it is assigned where as we can change the elements of a tuple

In short, a tuple is an immutable list. A tuple can not be changed in anyway once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Topics to be discussed

- Creating a Tuple
- Accessing Item
- Editing Item
- Adding Item
- Deleting Item
- Operations on Tuple
- Tuple Function

1. Creating a Tuple

In [ ]:
# empty tuple
t1 = ()

print(t1)
print(type(t1))

()
<class 'tuple'>

Creating tuple with a single item
- When we creating a single item in tuple we need to put , end of the tuple then its data type will tuple But we not put , then tuple data type change we entered item data type

In [ ]:
t2 = ("hello")
print(t2)
print(type(t2))

hello
<class 'str'>

In [ ]:
t2 = ("hello",)
print(t2)
print(type(t2))

('hello',)
<class 'tuple'>

In [ ]:
# homo
t3 = (1,2,3,4,5)

# het
t4 = (1,2,3, True, [4,5,6])

# nested tuple
t5 = (1,2,3,4, (6,7,8))

# suing type conversion
t6 = tuple("hello")

print(t3,'\n', t4,'\n', t5,'\n', t6)

(1, 2, 3, 4, 5)
 (1, 2, 3, True, [4, 5, 6])
 (1, 2, 3, 4, (6, 7, 8))
 ('h', 'e', 'l', 'l', 'o')

2. Accessing Items

In [ ]:
t = (1,2,3,4)

In [ ]:
t[0]

1

In [ ]:
t[-1]

4

In [ ]:
t[1:3]

(2, 3)

3. Editing Items and Deleting Items

In [ ]:
# can not edit tuple

4. Type Casting

In [ ]:
t = (1,2,3,4)
t1 = list(t)

In [ ]:
print(t1)
print(type(t1))

[1, 2, 3, 4]
<class 'list'>

In [ ]:
t1.append(200)
print(t1)

[1, 2, 3, 4, 200]

In [ ]:
t2 = tuple(t1)
print(t2)
print(type(t2))

(1, 2, 3, 4, 200)
<class 'tuple'>

4. Tuple Operations
- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic operation

t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
t1 * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# Membership operation

t = (1,2,3,6,7)

1 in t

True

In [ ]:
2 not in t

False

In [ ]:
# loop

for i in t:
    print(i)

1
2
3
6
7

5. Tuple method / function

In [ ]:
t = (1,2,3,4,5,6)

print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t))

6
1
6
21
[1, 2, 3, 4, 5, 6]

In [ ]:
t.count(3)

1

In [ ]:
t.index(2)

1

### Different between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Builtin Functionality
- Error prone
- Usability

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size {}'.format(sys.getsizeof(L)))
print('Tuple size {}'.format(sys.getsizeof(T)))

List size 8056
Tuple size 8040

In [ ]:
a = [1,2,3]
b = a

a.append(4)

print(a)
print(b)    # this change both map one memory location

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)

print(a)
print(b)    # Its make a copy

(1, 2, 3, 4)
(1, 2, 3)

In [ ]:
# Usability depend in mutability

### Tuple Unpacking

In [ ]:
a, b, c = (1, 2, 3)

print(a, b, c)

1 2 3

In [ ]:
a, b, c = [1, 2, 3]

print(a, b, c)

1 2 3

In [ ]:
a, b, *other = (1, 2, 3, 4, 5, 6)

print(a, b)
print(other)

1 2
[3, 4, 5, 6]

In [ ]:
t1 = (1,2,3,4,5,6)
t2 = (7,8,9,10,11,12)

zip(t1, t2)

In [ ]:
tuple(zip(t1, t2))

((1, 7), (2, 8), (3, 9), (4, 10), (5, 11), (6, 12))

In [ ]:
list(zip(t1, t2))

[(1, 7), (2, 8), (3, 9), (4, 10), (5, 11), (6, 12)]

### Tuple Comprehension

- You might have read about list comprehension in Python. However, there is no tuple comprehension in Python. But we will discuss how we can emulate tuple comprehension in Python.

In [ ]:
# Add to 1 to 10 numbers to the list

L = []

for i in range(1, 11):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1, 11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# find a language start with p

languages = ['java', 'python', 'php', 'c', 'javascript']

TC = tuple((i for i in languages if i.startswith('p')))
print(TC)

('python', 'php')

In [ ]:
(i for i in languages if i.startswith('p'))

In [ ]:
# Print all numbers divisible by 5 the range of 1 to 50

tuple((i for i in range(1, 51) if i % 5 == 0))

(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)

In [ ]:
# Add power of sqr

T = (1,2,4,6,5)

tuple((i**2 for i in T))

(1, 4, 16, 36, 25)

### Sets in Python
A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (can not be change).
However, a set itself is mutable. We can add or remove items from it.
Set also can be used to perform mathematical set operations like union, intersection, symmetric difference, etc

 #### Characteristic
 - Unordered
 - Mutable
 - No Duplicates 
 - Can't contain mutable data types

In [ ]:
s = {}
print(type(s))

<class 'dict'>

In [ ]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [ ]:
# 1D

s1 = {1, 2, 3}
print(s1)

{1, 2, 3}

In [ ]:
# 2D
# sets can be store immutable data only like tuple

s2 = {1,3,4,(1,2,3)}

print(s2)

{1, 3, 4, (1, 2, 3)}

In [ ]:
# sets are het

s = {1,2,3,'True',(5,4)}
print(s)

{1, 2, 3, 'True', (5, 4)}

In [ ]:
s.remove(2)
print(s)

{1, 3, 'True', (5, 4)}

In [ ]:
# Type conversion

s = set({1,2,3,4,5})
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
# duplicate not allow

s = {1,2,2,2,3,5,6,6}
print(s)

{1, 2, 3, 5, 6}

In [ ]:
# This is unordered Its is only see values not a value order

s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

In [ ]:
# This is unordered Its is only see values not a value order

s1 = {1,2,3}
s2 = {3,2,1, 7}

print(s1 == s2)

False

### Accessing Items

In [ ]:
s = {1,2,3,4}

# this is unordered therefore can not access items
print(s[0])

TypeError: 'set' object is not subscriptable

In [ ]:
s3 = {1, 'hello', (1,2,3,4), True}
print(s3)

# This is we can see not a value order we get because this is unordered

{(1, 2, 3, 4), 1, 'hello'}

### Editing Items

In [ ]:
s = {1,2,3,4}

s[0] = 100

TypeError: 'set' object does not support item assignment

### Adding Items

In [ ]:
s = {1,2,3,45}

# we can only one item using add

s.add(78)
print(s)

{1, 2, 3, 45, 78}

In [ ]:
s.update([12,65,23])
print(s)

{1, 2, 3, 65, 12, 45, 78, 23}

### Deleting Items

In [ ]:
s = {1,2,3,4,5,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [ ]:
s.discard(5)
print(s)

{1, 2, 3, 4, 6}

- while use discard if its not have its not get error but remove get error

In [ ]:
s.remove(6)
print(s)

{1, 2, 3, 4}

In [ ]:
s.remove(6)

KeyError: 6

In [ ]:
# pop remove item randomly

s.pop()
print(s)

{2, 3, 4}

In [ ]:
# clear all the values set

s.clear()
print(s)

set()

### Sets Operations

In [ ]:
s1 = {1,2,3,4}
s2 = {2,3,9,3,8}

In [ ]:
# sets Union
s1 | s2

{1, 2, 3, 4, 8, 9}

In [ ]:
# Intersection (&)

s1 & s2 #Â give duplicates items

{2, 3}

In [ ]:
# Difference operations

s1 - s2 # give unique one first

{1, 4}

In [ ]:
s2 - s1

{8, 9}

In [ ]:
# Symmetric Deference (^)

s1 ^ s2

{1, 4, 8, 9}

In [ ]:
# Membership operation

s = {1,2,3,4}

1 in s

True

In [ ]:
# iterations in sets

for i in s:
    print(i)

1
2
3
4

### Sets Methods/Function

- len()
- sum()
- min()
- max()
- sorted()

In [ ]:
s = {1,2,3,4,5}

print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s, reverse=True))

5
15
1
5
[5, 4, 3, 2, 1]

- Union and Update

In [ ]:
s1 = {1,2,3,4,5}
s2 = {6, 8,2,1,4}

# s1 | s2
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
s1 | s2

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
s1.update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 4, 6, 8}

In [ ]:
# Intersection / Intersection_update

s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.intersection(s2)

{3, 4}

In [ ]:
s1.intersection_update(s2)

print(s1)

{3, 4}

In [ ]:
# difference and difference_update

s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.difference(s2)

{1, 2}

In [ ]:
s1.difference_update(s2)

print(s1)

{1, 2}

In [ ]:
s1 = {1,2,43,5,6,9}
s2 = {2,1,7,4,3}

In [ ]:
s1.symmetric_difference(s2)

{3, 4, 5, 6, 7, 9, 43}

In [ ]:
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{4, 5, 6, 3, 7, 9, 43}
{1, 2, 3, 4, 7}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9}

s1.isdisjoint(s2)   # is have not unique values its give false its have difference unique value its give true

True

In [ ]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,2}

s1.isdisjoint(s2)

False

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {1,2,3}

s2.issubset(s1)

True

In [ ]:
s1.issuperset(s2)

True

In [ ]:
s3 = s1.copy()

print(s3)

{1, 2, 3, 4, 5, 6}

### Frozenset

Frozenset is just and immutable version of a Python set Object

In [ ]:
fs1 = frozenset([1,2,3,4,5])

print(fs1)
print(type(fs1))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [ ]:
fs1 = frozenset([1,2,3,4,5])
fs2 = frozenset([6,7,8,9])

print(fs1)
print(fs2)

frozenset({1, 2, 3, 4, 5})
frozenset({8, 9, 6, 7})

In [ ]:
fs1.union(fs2)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [ ]:
fs1 & fs2

frozenset()

In [ ]:
# 2D

fs = frozenset([1,2,frozenset([3,4])])
print(fs)

frozenset({frozenset({3, 4}), 1, 2})

### Sets Comprehension

In [ ]:
sc = {i for i in range(1,11)}
print(sc)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
sc = {i for i in range (1,11) if i%2==0}
print(sc)

{2, 4, 6, 8, 10}

### Dictionary in Python

Dictionary in python is a collection of key values, used to store data values like a map, which, unlike other data types which hold only a single value as an element. In some language it is known as map or assosiative arrays.

dic = {'name': "John", "age":20, "gender":"male"}

### Characterstics 

- Mutable
- Indexing has no meaning
- Key can't be duplicate 
- Key can't be mutable items

In [ ]:
# empty dictionary

d = {}

print(d)
print(type(d))

{}
<class 'dict'>

In [ ]:
# 1D dictionary

d1 = {"name": "John", "age": 23, "gender": "male"}

print(d1)

{'name': 'John', 'age': 23, 'gender': 'male'}

In [ ]:
# Mixed Key dictionary

d2 = {(1,2,3): 33, "name": "John"}

print(d2)   # tuple is immutable therefore we can define it like a key

{(1, 2, 3): 33, 'name': 'John'}

In [ ]:
# 2D dictionary

d3 = {
    "name":"john",
    "age": 23,
    "gender":"male",
    "subject":{
        "DSA": 80,
        "Math": 30,
        "English": 10
    }
}

print(d3)

{'name': 'john', 'age': 23, 'gender': 'male', 'subject': {'DSA': 80, 'Math': 30, 'English': 10}}

In [ ]:
# using sequence and dict function

d = dict([("name", "John"), ("age", 23)])

print(d)

{'name': 'John', 'age': 23}

In [ ]:
# duplicate keys

d = {'name': 'john', 'age': 23, 'name':'Alex', 'gender':'male'}

print(d)    # get latest one in duplicates

{'name': 'Alex', 'age': 23, 'gender': 'male'}

In [ ]:
# mutable items as a key

d = {[1,2,3]: 23, 'name': 'John', 'age': 23}

print(d)

TypeError: unhashable type: 'list'

### Accessing Items In dictionay

In [ ]:
d = dict([("name", "John"), ("age", 23)])

# can not access this one

In [ ]:
# we can access using key
d["name"]

'John'

In [ ]:
# python always key sensitive therefore we need to give same input key

In [ ]:
d3 = {
    "name":"john",
    "age": 23,
    "gender":"male",
    "subject":{
        "DSA": 80,
        "Math": 30,
        "English": 10
    }
}

In [ ]:
print(d3['gender'])

male

In [ ]:
d3["subject"]["DSA"]    # we can access child

80

### Adding Key Value Pair

In [ ]:
d1 = {'name': 'john', 'age':21, 'gender': 'male'}

In [ ]:
d1["weight"] = 80

print(d1)

{'name': 'john', 'age': 21, 'gender': 'male', 'weight': 80}

In [ ]:
d1["subject"] = {"python":20, "DSA": 20}
print(d1)

{'name': 'john', 'age': 21, 'gender': 'male', 'weight': 80, 'subject': {'python': 20, 'DSA': 20}}

### Edit Existing key-value pair

- we can not edit key we can only can change values only

In [ ]:
d1["name"] = "Alex"
print(d1)

{'name': 'Alex', 'age': 21, 'gender': 'male', 'weight': 80, 'subject': {'python': 20, 'DSA': 20}}

### Remove Key-Value Pair

- pop
- popitem

In [ ]:
d1.pop("age")
print(d1)   # You need to give key

{'name': 'Alex', 'gender': 'male', 'weight': 80, 'subject': {'python': 20, 'DSA': 20}}

In [ ]:
d1 = {"name": "john", "age": 23, "gender":"male"}
d1.popitem()
print(d1)

{'name': 'john', 'age': 23}

In [ ]:
# It will remove last element using popitem

In [ ]:
del d1["name"]

print(d1)

{'age': 23}

In [ ]:
d1.clear()
d1

{}

### Dictionary Operations in Python
- Membership 
- Iterations

In [ ]:
d = {"name": "John", "age": 23, "gender": "male"}

"name" in d # we need to access only key not a value

True

In [ ]:
"age" not in d

False

In [ ]:
for i in d:
    print(i)    # we only get key

name
age
gender

In [ ]:
# we need to access value
for i in d:
    print(d[i])

John
23
male

### Dictionary Methods

In [ ]:
d = {"name": "John", "age": 23, "gender": "male"}

print(len(d))
print(sorted(d, reverse=True))
print(max(d))
print(min(d))

3
['name', 'gender', 'age']
name
age

In [ ]:
print(d.items())

dict_items([('name', 'John'), ('age', 23), ('gender', 'male')])

In [ ]:
print(d.keys())
print(d.values())

dict_keys(['name', 'age', 'gender'])
dict_values(['John', 23, 'male'])

### Dictionary Comprehension

In [ ]:
# print the 1st 10 numbers and their squares

d = {}

for i in range(1,11):
    d.update({i:i**2})
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
d2 = {i:i**2 for i in range (1,11)}
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# using if condition
products = {'phone':10, 'laptop':0, 'charger': 32, 'tablet':0}

d3 = {i:products[i] for i in products if products[i] > 0}
print(d3)

{'phone': 10, 'charger': 32}

In [ ]:
{key:value for (key,value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

### Functions in Python

In [6]:
def greet(name):
    print(f"Hello {name}, Welcome to Our Country!")

usr = input("Enter your name: ")
greet(usr)

Hello Prashan Kulathunga, Welcome to Our Country!

In [7]:
names = ["John", "Jonathon", "Alex", "Dex"]

for i in names:
    greet(i)

Hello John, Welcome to Our Country!
Hello Jonathon, Welcome to Our Country!
Hello Alex, Welcome to Our Country!
Hello Dex, Welcome to Our Country!