#### Python course for AI/ML

In [ ]:
# type conversion
# implicit => Internally happen in python
# explicit => By the programmers

In [5]:
# implicit type conversions
print(type(5))

<class 'int'>

In [6]:
print(type(5.5))

<class 'float'>

In [ ]:
print(5+ int('4')) # explicit type conversions

9

In [10]:
number = "32"
number = float(number)

print(type(number))
print(number)

<class 'float'>
32.0

In [ ]:
a = 0b1010  # literals this is #Binary_Literals
print(a)

10

In [12]:
float_1 = 1.5
float_2 = 1.5e2     # its mean 1.5 * 10^2   => Answer : 150
float_3 = 1.5e-3

print('float_1: ', float_1)
print('float_2: ', float_2)
print('float_3: ', float_3)

float_1:  1.5
float_2:  150.0
float_3:  0.0015

In [17]:
# complex literals

x = 5+10j

print(type(x))

<class 'complex'>

In [21]:
print(x.real)
print(x.imag)

print(type(x.real))
print(type(x.imag))

print(x.real + x.imag)

5.0
10.0
<class 'float'>
<class 'float'>
15.0

In [ ]:
string = 'This is a python string'
strings = "This is a python string"
multiline_str = """
I am Programmer
I love to learning new things
"""
char = 'c'
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_string = r"raw \n string"   # raw line it will have type \ character

In [31]:
print(unicode)
print(string)
print(strings)
print(multiline_str)
print(char)
print(raw_string)

ðŸ˜€ðŸ˜†ðŸ¤£
This is a python string
This is a python string

I am Programmer
I love to learning new things

c
raw \n string

In [32]:
# True => 1
# False => 0

a = True + 4
b = False + 10

print('a: ', a)
print('b: ', b)

a:  5
b:  10

In [33]:
x = None
print(x)    # we need to create variable starter of the program use this

None

### #Arithmetic operator

In [35]:
print(4+5)
print(6-2)
print(6/2)
print(7//2)
print(6%2)
print(5**2)

9
4
3.0
3
0
25

### #Relational Operator

In [36]:
print(4>2)
print(5==2)
print(3!=5)

True
False
True

### #Logical Operator

In [37]:
print(1 and 1)
print(0 and 1)
print(0 and 0)

1
0
0

In [38]:
print(1 or 0)
print(0 or 0)

1
0

In [40]:
print(not 1)
print(not 0)

False
True

### #Bitwise Operator

In [41]:
#Bitwise and
print(3 & 6)    #firstly its convert binary number and solve this operator

#Bitwise or
print(4 | 2)

#Bitwise Xor
print(3 ^ 2)

#Bitwise not
print(~5)

#Bitwise right shift
print(4 >> 2)

#Bitwise left shift
print(5 << 2)

2
6
1
-6
1
20

### #Assignment operator

In [43]:
a = 2

a += 4  #like this all of the operators we can code
print(a)

6

- a++ (Its increase the number of 1) 
- ++a (Its firstly increase the number and execute)

### #Membership operator

In [47]:
# in / not in
print('M' in "Colombo")
print('C' in "Colombo")

print('M' not in "Colombo")
print('C' not in "Colombo")

print(1 in [1, 2, 3, 4, 5, 6])

False
True
True
False
True

### Exercise

- Find the sum of 3 digit number entered by the user

In [52]:
n1 = float(input('Insert a number-1\t: '))
n2 = float(input('Insert a number-2\t: '))
n3 = float(input('Insert a number-3\t: '))

sum = n1+n2+n3
print(f'Summation of the Numbers {n1, n2, n3}: ', sum)

Summation of the Numbers (3.0, 5.0, 9.0):  17.0

In [60]:
number = int(input('Insert a 3 digit numbers\t: '))

# 345%10 => 5
a = number%10
print(a)

number = number//10 # 345 // 10 => 34
b = number%10

number = number//10 # 34 // 10 => 3
c = number%10

result = a + b + c
print(f'Summation of the Numbers {c, b, a}: ', result)

5
Summation of the Numbers (3, 4, 5):  12